.card{
    width: 20rem;
    position: relative;
    cursor: pointer;
}

.card img{
    transition: .2s;
    position: relative;
    z-index: 0;
}


.card:hover .onhover{
    opacity: 1;
    transition: .2;
}

.onhover{
    background-color: rgba(0, 0, 0, 0.332);
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: .5s;

}